{% extends 'base.html' %}

{% block content %}
    <div class="container h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <form>
                <div>
                    <label for="roomNumber" class="form-label fw-bold">Connect to room:</label>
                    <input type="text" class="form-control" id="roomNumber" placeholder="236312483">
                    <button id="connect-button" type="submit" class="btn btn-light my-1 w-100">Connect</button>
                </div>

                <div class="my-3 border-top border-bottom w-100 text-center py-3">
                    <span class="fw-bold">or</span>
                </div>

                <div>
                    <label for="language" class="form-label fw-bold">Programming language:</label>
                    <select class="form-select" name="language" id="language">
                        {% for index, language in languages %}
                            <option value="{{ language }}" {% if index == 0 %} selected {% endif %}>{{ language }}</option>
                        {% endfor %}
                    </select>
                    <button id="create-button" type="submit" class="btn btn-outline-light my-1 w-100">Create own room</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}